In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
train = pd.read_csv('C:\\Users\\AJAY\\GenePact\\train_GzS76OK\\train.csv')
meal_info = pd.read_csv('C:\\Users\\AJAY\\GenePact\\train_GzS76OK\\meal_info.csv')
fulfilment_center_info = pd.read_csv('C:\\Users\\AJAY\\GenePact\\train_GzS76OK\\fulfilment_center_info.csv')
test = pd.read_csv('C:\\Users\\AJAY\GenePact\\test_QoiMO9B.csv')
print("Train Dataset shape: ",train.shape)
print("Meal_info Datset shape: ",meal_info.shape)
print("Fulfilment Center Info Dataset shape: ",fulfilment_center_info.shape)
print("Test Dataset Shape: ",test.shape)

Train Dataset shape:  (456548, 9)
Meal_info Datset shape:  (51, 3)
Fulfilment Center Info Dataset shape:  (77, 5)
Test Dataset Shape:  (32573, 8)

In [2]:
train.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189
3,1338232,1,55,2139,339.50,437.53,0,0,54
4,1448490,1,55,2631,243.50,242.50,0,0,40

In [3]:
train.isnull().sum()

id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
num_orders               0
dtype: int64

In [4]:
train.apply(lambda x: len(x.unique()))

id                       456548
week                        145
center_id                    77
meal_id                      51
checkout_price             1992
base_price                 1907
emailer_for_promotion         2
homepage_featured             2
num_orders                 1250
dtype: int64

In [5]:
# Find co-relation among num_orders
corelation = train.corr()['num_orders'].sort_values()
print("Most Positive Co-relation---\n",corelation.tail())
print("Most Negative Co-relation---\n", corelation.head())

Most Positive Co-relation---
 id                       0.000702
meal_id                  0.010597
emailer_for_promotion    0.277147
homepage_featured        0.294490
num_orders               1.000000
Name: num_orders, dtype: float64
Most Negative Co-relation---
 checkout_price   -0.282108
base_price       -0.222306
center_id        -0.053035
week             -0.017210
id                0.000702
Name: num_orders, dtype: float64

In [6]:
train.dtypes

id                         int64
week                       int64
center_id                  int64
meal_id                    int64
checkout_price           float64
base_price               float64
emailer_for_promotion      int64
homepage_featured          int64
num_orders                 int64
dtype: object

In [7]:
meal_info.head()

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian

In [8]:
meal_info.dtypes

meal_id      int64
category    object
cuisine     object
dtype: object

In [9]:
meal_info.isnull().sum()

meal_id     0
category    0
cuisine     0
dtype: int64

In [10]:
train = pd.merge(train,meal_info,on = 'meal_id')

In [11]:
fulfilment_center_info.head()

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0
3         66        648           34      TYPE_A      4.1
4         94        632           34      TYPE_C      3.6

In [12]:
fulfilment_center_info.isnull().sum()

center_id      0
city_code      0
region_code    0
center_type    0
op_area        0
dtype: int64

In [13]:
fulfilment_center_info.dtypes

center_id        int64
city_code        int64
region_code      int64
center_type     object
op_area        float64
dtype: object

In [14]:
train = pd.merge(train,fulfilment_center_info,on = 'center_id')

In [15]:
train.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,category,cuisine,city_code,region_code,center_type,op_area
0,1379560,1,55,1885,136.83,152.29,0,0,177,Beverages,Thai,647,56,TYPE_C,2.0
1,1018704,2,55,1885,135.83,152.29,0,0,323,Beverages,Thai,647,56,TYPE_C,2.0
2,1196273,3,55,1885,132.92,133.92,0,0,96,Beverages,Thai,647,56,TYPE_C,2.0
3,1116527,4,55,1885,135.86,134.86,0,0,163,Beverages,Thai,647,56,TYPE_C,2.0
4,1343872,5,55,1885,146.50,147.50,0,0,215,Beverages,Thai,647,56,TYPE_C,2.0

In [16]:
test.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1028232,146,55,1885,158.11,159.11,0,0
1,1127204,146,55,1993,160.11,159.11,0,0
2,1212707,146,55,2539,157.14,159.14,0,0
3,1082698,146,55,2631,162.02,162.02,0,0
4,1400926,146,55,1248,163.93,163.93,0,0

In [17]:
test.isnull().sum()

id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
dtype: int64

In [18]:
test.dtypes

id                         int64
week                       int64
center_id                  int64
meal_id                    int64
checkout_price           float64
base_price               float64
emailer_for_promotion      int64
homepage_featured          int64
dtype: object

In [19]:
test = pd.merge(test,meal_info, on = 'meal_id')

In [20]:
test = pd.merge(test,fulfilment_center_info,on = 'center_id')

In [21]:
train = pd.get_dummies(train,columns = ['category','cuisine','center_type'])
test = pd.get_dummies(test,columns = ['category','cuisine','center_type'])

In [22]:
X_train = train.drop(['id','num_orders'],axis = 1)
Y_train = train['num_orders']
X_test = test.drop(['id'],axis = 1).copy()

In [23]:
from sklearn.linear_model import LinearRegression
lireg = LinearRegression(n_jobs = 100)
lireg.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=100, normalize=False)

In [24]:
li_prediction = lireg.predict(X_test)
li_acc_score = round(lireg.score(X_train,Y_train)*100,2)
li_acc_score

41.08

In [25]:
from sklearn.tree import DecisionTreeRegressor
decision_tree = DecisionTreeRegressor(min_samples_leaf = 60,max_depth = 80,min_samples_split=10,random_state = 40)
decision_tree.fit(X_train,Y_train)

DecisionTreeRegressor(criterion='mse', max_depth=80, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=60,
           min_samples_split=10, min_weight_fraction_leaf=0.0,
           presort=False, random_state=40, splitter='best')

In [26]:
tree_prediction = decision_tree.predict(X_test)
tree_accuracy = round(decision_tree.score(X_train,Y_train)*100,2)
tree_accuracy

78.22

In [27]:
from sklearn.ensemble import RandomForestRegressor
raforest = RandomForestRegressor(n_estimators = 15,n_jobs = 10)
raforest.fit(X_train,Y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=15, n_jobs=10,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [28]:
ra_prediction = raforest.predict(X_test)
ra_score = round(raforest.score(X_train,Y_train)*100,2)
ra_score

97.71

In [29]:
from sklearn.ensemble import GradientBoostingRegressor
Gradient_Regressor = GradientBoostingRegressor(learning_rate = 0.2)
Gradient_Regressor.fit(X_train,Y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.2, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [30]:
Grad_predict = Gradient_Regressor.predict(X_test)
Grad_score = round(Gradient_Regressor.score(X_train,Y_train)*100,2)
Grad_score

70.67

In [31]:
from catboost import CatBoostRegressor
model=CatBoostRegressor(iterations=50, depth=12, learning_rate=0.1, loss_function='RMSE')

In [32]:
model.fit(X_train,Y_train)

0:	learn: 440.6189374	total: 4.07s	remaining: 3m 19s
1:	learn: 411.1428188	total: 6.08s	remaining: 2m 25s
2:	learn: 384.9103500	total: 7.52s	remaining: 1m 57s
3:	learn: 362.4389863	total: 8.94s	remaining: 1m 42s
4:	learn: 341.6345436	total: 10.3s	remaining: 1m 32s
5:	learn: 323.1578781	total: 11.7s	remaining: 1m 25s
6:	learn: 307.6074744	total: 13s	remaining: 1m 20s
7:	learn: 293.8835465	total: 14.4s	remaining: 1m 15s
8:	learn: 281.6395666	total: 15.8s	remaining: 1m 12s
9:	learn: 270.5765727	total: 17.2s	remaining: 1m 8s
10:	learn: 261.0017588	total: 18.5s	remaining: 1m 5s
11:	learn: 252.8238044	total: 19.9s	remaining: 1m 3s
12:	learn: 245.9437272	total: 21.3s	remaining: 1m
13:	learn: 239.5202601	total: 22.7s	remaining: 58.4s
14:	learn: 233.0643882	total: 24.1s	remaining: 56.2s
15:	learn: 227.6374428	total: 25.4s	remaining: 54s
16:	learn: 223.5684784	total: 26.8s	remaining: 52.1s
17:	learn: 219.1396806	total: 28.2s	remaining: 50.1s
18:	learn: 215.6200023	total: 29.5s	remaining: 48.2s
19:	learn: 212.4946070	total: 30.9s	remaining: 46.3s
20:	learn: 209.5992208	total: 32.2s	remaining: 44.5s
21:	learn: 206.8812457	total: 33.6s	remaining: 42.7s
22:	learn: 204.4453986	total: 34.9s	remaining: 41s
23:	learn: 202.1999578	total: 36.3s	remaining: 39.3s
24:	learn: 199.6075902	total: 37.7s	remaining: 37.7s
25:	learn: 197.5943116	total: 39s	remaining: 36s
26:	learn: 195.7232520	total: 40.5s	remaining: 34.5s
27:	learn: 194.2176960	total: 41.8s	remaining: 32.9s
28:	learn: 193.0632130	total: 43.2s	remaining: 31.3s
29:	learn: 192.0458978	total: 44.5s	remaining: 29.7s
30:	learn: 190.2091256	total: 45.9s	remaining: 28.1s
31:	learn: 189.3409147	total: 47.2s	remaining: 26.5s
32:	learn: 188.2105921	total: 48.5s	remaining: 25s
33:	learn: 186.9385899	total: 49.9s	remaining: 23.5s
34:	learn: 185.6362866	total: 51.3s	remaining: 22s
35:	learn: 184.5088953	total: 52.6s	remaining: 20.5s
36:	learn: 183.4253847	total: 54s	remaining: 19s
37:	learn: 182.7215400	total: 55.3s	remaining: 17.5s
38:	learn: 181.7004641	total: 56.7s	remaining: 16s
39:	learn: 180.5881074	total: 58s	remaining: 14.5s
40:	learn: 180.0725833	total: 59.4s	remaining: 13s
41:	learn: 179.0961171	total: 1m	remaining: 11.6s
42:	learn: 178.0722023	total: 1m 2s	remaining: 10.1s
43:	learn: 177.3409244	total: 1m 3s	remaining: 8.66s
44:	learn: 176.4166618	total: 1m 4s	remaining: 7.2s
45:	learn: 175.6754754	total: 1m 6s	remaining: 5.75s
46:	learn: 174.9775388	total: 1m 7s	remaining: 4.31s
47:	learn: 174.3037874	total: 1m 8s	remaining: 2.87s
48:	learn: 173.6698563	total: 1m 10s	remaining: 1.43s
49:	learn: 173.1283244	total: 1m 11s	remaining: 0us

In [34]:
Cat_Predict = model.predict(X_test)
Cat_score = round(model.score(X_train,Y_train)*100,2)
Cat_score

17312.83

In [35]:
models = pd.DataFrame({
    'Model': ['Decision Tree','RandomForest','Gradient_Boosting','LinearRegression','CatBoostRegressor'],
    'Score': [tree_accuracy,ra_score,Grad_score,li_acc_score,Cat_score]})
models.sort_values(by='Score', ascending=False)

               Model     Score
4  CatBoostRegressor  17312.83
1       RandomForest     97.71
0      Decision Tree     78.22
2  Gradient_Boosting     70.67
3   LinearRegression     41.08