In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [2]:
dataset = pd.read_csv("C:\\Users\\AJAY\\Desktop\\diabetes.csv")
dataset.shape

(768, 9)

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnancies                 768 non-null int64
Glucose                     768 non-null int64
BloodPressure               768 non-null int64
SkinThickness               768 non-null int64
Insulin                     768 non-null int64
BMI                         768 non-null float64
DiabetesPedigreeFunction    768 non-null float64
Age                         768 non-null int64
Outcome                     768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [4]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
# Replace zeroes
zero_not_accepted = ['Glucose','BloodPressure','SkinThickness','BMI','Insulin']
for column in zero_not_accepted:
    dataset[column] = dataset[column].replace(0,np.NaN)
    mean = int(dataset[column].mean(skipna = True))
    dataset[column] = dataset[column].replace(np.NaN, mean)

In [6]:
print(dataset['Glucose'])

0      148.0
1       85.0
2      183.0
3       89.0
4      137.0
5      116.0
6       78.0
7      115.0
8      197.0
9      125.0
10     110.0
11     168.0
12     139.0
13     189.0
14     166.0
15     100.0
16     118.0
17     107.0
18     103.0
19     115.0
20     126.0
21      99.0
22     196.0
23     119.0
24     143.0
25     125.0
26     147.0
27      97.0
28     145.0
29     117.0
       ...
738     99.0
739    102.0
740    120.0
741    102.0
742    109.0
743    140.0
744    153.0
745    100.0
746    147.0
747     81.0
748    187.0
749    162.0
750    136.0
751    121.0
752    108.0
753    181.0
754    154.0
755    128.0
756    137.0
757    123.0
758    106.0
759    190.0
760     88.0
761    170.0
762     89.0
763    101.0
764    122.0
765    121.0
766    126.0
767     93.0
Name: Glucose, Length: 768, dtype: float64

In [7]:
# split dataest
X = dataset.iloc[:,0:8]
# Just Checking X values
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6    148.0           72.0           35.0    155.0  33.6
1              1     85.0           66.0           29.0    155.0  26.6
2              8    183.0           64.0           29.0    155.0  23.3
3              1     89.0           66.0           23.0     94.0  28.1
4              0    137.0           40.0           35.0    168.0  43.1
5              5    116.0           74.0           29.0    155.0  25.6
6              3     78.0           50.0           32.0     88.0  31.0
7             10    115.0           72.0           29.0    155.0  35.3
8              2    197.0           70.0           45.0    543.0  30.5
9              8    125.0           96.0           29.0    155.0  32.0
10             4    110.0           92.0           29.0    155.0  37.6
11            10    168.0           74.0           29.0    155.0  38.0
12            10    139.0           80.0           29.0    155.0  27.1
13             1    189.0           60.0           23.0    846.0  30.1
14             5    166.0           72.0           19.0    175.0  25.8
15             7    100.0           72.0           29.0    155.0  30.0
16             0    118.0           84.0           47.0    230.0  45.8
17             7    107.0           74.0           29.0    155.0  29.6
18             1    103.0           30.0           38.0     83.0  43.3
19             1    115.0           70.0           30.0     96.0  34.6
20             3    126.0           88.0           41.0    235.0  39.3
21             8     99.0           84.0           29.0    155.0  35.4
22             7    196.0           90.0           29.0    155.0  39.8
23             9    119.0           80.0           35.0    155.0  29.0
24            11    143.0           94.0           33.0    146.0  36.6
25            10    125.0           70.0           26.0    115.0  31.1
26             7    147.0           76.0           29.0    155.0  39.4
27             1     97.0           66.0           15.0    140.0  23.2
28            13    145.0           82.0           19.0    110.0  22.2
29             5    117.0           92.0           29.0    155.0  34.1
..           ...      ...            ...            ...      ...   ...
738            2     99.0           60.0           17.0    160.0  36.6
739            1    102.0           74.0           29.0    155.0  39.5
740           11    120.0           80.0           37.0    150.0  42.3
741            3    102.0           44.0           20.0     94.0  30.8
742            1    109.0           58.0           18.0    116.0  28.5
743            9    140.0           94.0           29.0    155.0  32.7
744           13    153.0           88.0           37.0    140.0  40.6
745           12    100.0           84.0           33.0    105.0  30.0
746            1    147.0           94.0           41.0    155.0  49.3
747            1     81.0           74.0           41.0     57.0  46.3
748            3    187.0           70.0           22.0    200.0  36.4
749            6    162.0           62.0           29.0    155.0  24.3
750            4    136.0           70.0           29.0    155.0  31.2
751            1    121.0           78.0           39.0     74.0  39.0
752            3    108.0           62.0           24.0    155.0  26.0
753            0    181.0           88.0           44.0    510.0  43.3
754            8    154.0           78.0           32.0    155.0  32.4
755            1    128.0           88.0           39.0    110.0  36.5
756            7    137.0           90.0           41.0    155.0  32.0
757            0    123.0           72.0           29.0    155.0  36.3
758            1    106.0           76.0           29.0    155.0  37.5
759            6    190.0           92.0           29.0    155.0  35.5
760            2     88.0           58.0           26.0     16.0  28.4
761            9    170.0           74.0           31.0    155.0  44.0
762            9     89.0           62.0           29.0    155.0  22.5
763           10    101.0           76.0           48.0    180.0  32.9
764            2    122.0           70.0           27.0    155.0  36.8
765            5    121.0           72.0           23.0    112.0  26.2
766            1    126.0           60.0           29.0    155.0  30.1
767            1     93.0           70.0           31.0    155.0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
5                       0.201   30
6                       0.248   26
7                       0.134   29
8                       0.158   53
9                       0.232   54
10                      0.191   30
11                      0.537   34
12                      1.441   57
13                      0.398   59
14                      0.587   51
15                      0.484   32
16                      0.551   31
17                      0.254   31
18                      0.183   33
19                      0.529   32
20                      0.704   27
21                      0.388   50
22                      0.451   41
23                      0.263   29
24                      0.254   51
25                      0.205   41
26                      0.257   43
27                      0.487   22
28                      0.245   57
29                      0.337   38
..                        ...  ...
738                     0.453   21
739                     0.293   42
740                     0.785   48
741                     0.400   26
742                     0.219   22
743                     0.734   45
744                     1.174   39
745                     0.488   46
746                     0.358   27
747                     1.096   32
748                     0.408   36
749                     0.178   50
750                     1.182   22
751                     0.261   28
752                     0.223   25
753                     0.222   26
754                     0.443   45
755                     1.057   37
756                     0.391   39
757                     0.258   52
758                     0.197   26
759                     0.278   66
760                     0.766   22
761                     0.403   43
762                     0.142   33
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [8]:
y = dataset.iloc[:,8]
print(y)

0      1
1      0
2      1
3      0
4      1
5      0
6      1
7      0
8      1
9      1
10     0
11     1
12     0
13     1
14     1
15     1
16     1
17     1
18     0
19     1
20     0
21     0
22     1
23     1
24     1
25     1
26     1
27     0
28     0
29     0
      ..
738    0
739    1
740    1
741    0
742    0
743    1
744    0
745    0
746    1
747    0
748    1
749    1
750    1
751    0
752    0
753    1
754    1
755    1
756    0
757    1
758    0
759    1
760    0
761    1
762    0
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0, test_size = 0.2)
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [16]:
import math
math.sqrt(len(y_train))
# It get output 12 it is even so we set n_neighbors = 11
# Define the model KNN
classifier = KNeighborsClassifier(n_neighbors=11, p=2, metric='euclidean')
# Fit model
classifier.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
           metric_params=None, n_jobs=1, n_neighbors=11, p=2,
           weights='uniform')

In [17]:
# Predict the test set results
y_pred = classifier.predict(X_test)
y_pred

array([1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [18]:
# Evaluate the model
cm = confusion_matrix(y_test,y_pred)
print(cm)

[[94 13]
 [15 32]]

In [19]:
print(f1_score(y_test, y_pred))

0.6956521739130436

In [22]:
print(accuracy_score(y_test, y_pred))

0.8181818181818182